.subscribe-btn {
    background-color: rgb(200, 0, 0); /*background color of the button*/
    color: white;                     /*font color*/
    border: none;                       /*border style*/
    padding-top: 10px;                  /*font distance to the top*/
    padding-bottom:10px;                /*font distance to the bottom*/
    padding-left: 16px;                 /*font distance to the left*/
    padding-right: 16px;                /*font distance to the left*/
    border-radius: 2px;                 /*curve the edges*/
    cursor: pointer;                    /*changing the cursor to pointer*/
    margin-right: 8px;                  /*spacing in the right*/
    transition: opacity 0.15s;          /*setting the opacity*/


}
.subscribe-btn:hover {
    opacity: 0.8;
}
.subscribe-btn:active {
    opacity: 0.3;


}

.join-btn {
    background-color: white;   
    border-color: rgb(64, 64, 215);
    border-style: solid;
    border-width: 1px;
    color:  rgb(64, 64, 215);
    padding-top: 9px;
    padding-bottom:9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s,
    color 0.15s;

}

.join-btn:hover {
    background-color: rgb(64, 64, 215);
    color: white;

}
.join-btn:active {
    opacity: 0.7;
}

.tweet-btn {
    background-color: rgb(0, 132, 255);
    color: white;  
    border: none;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor:pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
    padding-top: 9px;
    padding-bottom:9px;
    padding-left: 16px;
    padding-right: 16px;

    
}

.tweet-btn:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);

}